button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
}

.btn,
input[type="button"].btn,
input[type="submit"].btn {
  display: block;
  width: 100%;
  padding: .65625rem 1rem;
  font-size: .875rem;
  line-height: 1.428;
  font-weight: 500;
  color: $black;
  background-color: $green-1;
  border-radius: 6.25rem;
  transition: color .3s ease, background-color .3s ease;
  @include md {
    width: auto;
    padding: .65625rem 5.9375rem;
  }

  &:hover {
    background-color: $black;
    color: $green-1;
  }
}

.btn-text {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 500;
  border-bottom: 2px solid $green-1;
  text-decoration: none;
  color: $dark-3;

  &:hover {
    color: $green-1;
  }
}
