// width
@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content
  }
}

// height
@mixin rh($height) {
  @media only screen and (max-height: $height + "px") {
    @content
  }
}

@mixin rhmin($height) {
  @media only screen and (min-height: $height + "px") {
    @content
  }
}

@mixin xs {
  @include rmin($xs) {
    @content
  }
}

@mixin sm {
  @include rmin($sm) {
    @content
  }
}

@mixin md {
  @include rmin($md) {
    @content
  }
}

@mixin lg {
  @include rmin($lg) {
    @content
  }
}

@mixin xl {
  @include rmin($xl) {
    @content
  }
}

@mixin xxl {
  @include rmin($xxl) {
    @content
  }
}

@mixin sm-max {
  @include r($sm - 1) {
    @content
  }
}

@mixin xs-max {
  @include r($xs - 1) {
    @content
  }
}

@mixin md-max {
  @include r($md - 1) {
    @content
  }
}

@mixin lg-max {
  @include r($lg - 1) {
    @content
  }
}

@mixin xl-max {
  @include r($xl - 1) {
    @content
  }
}

@mixin placeholder-color($color) {
  &::placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &::-moz-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &:-moz-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
}

@mixin admin-bar {
  .admin-bar & {
    @content
  }
}

@mixin is-scrolled {
  .is-scrolled & {
    @content
  }
}

@mixin not-scrolled {
  html:not(.is-scrolled) & {
    @content
  }
}

// font-family
@mixin font($alias, $name) {
  @font-face {
    font-family: $alias;
    src: url("../fonts/" + $name + ".woff2") format("woff2"), url("../fonts/" + $name + ".woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

// to use:
//@include font(black, cytiapro-black-webfont)

@mixin chevron($direction:"right", $size: 20px, $width: 1px, $color: black) {
  display: block;
  width: $size;
  height: $size;
  border-top: 1px solid $color;
  border-right: 1px solid $color;
  border-width: $width;

  @if $direction == 'top'    { transform: rotate(-45deg);}
  @if $direction == 'right'  { transform: translate(-$width, 0) rotate(45deg);}
  @if $direction == 'bottom' { transform: rotate(135deg);}
  @if $direction == 'left'   { transform: translate($width, 0) rotate(225deg);}

}
