$primary: #FCC400;
$secondary: #8C9EAF;
$text: #191B1E;


$xs: 499;
$sm: 568;
$md: 768;
$lg: 992;
$xl: 1024;
$xxl: 1260;

$breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl,
);

$breakpoints-reversed: (
        xxl: $xxl,
        xl: $xl,
        lg: $lg,
        md: $md,
        sm: $sm,
        xs: $xs,
);
