$black: #000000;
$white: #ffffff;
$dark-3: #242424;
$dark-4: #181818;
$middle-1: #ADADAD;
$middle-3: #787878;
$light-2: #EDEDED;
$green-1: #5AE4AA;

$colors: (
    black: $black,
    white: $white,
    dark-3: $dark-3,
    dark-4: $dark-4,
    middle-1: $middle-1,
    middle-3: $middle-3,
    light-2: $light-2,
    green-1: $green-1,
);


$xs: 499;
$sm: 568;
$md: 768;
$lg: 992;
$xl: 1024;
$xxl: 1220;

$breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl,
);

$breakpoints-reversed: (
        xxl: $xxl,
        xl: $xl,
        lg: $lg,
        md: $md,
        sm: $sm,
        xs: $xs,
);
