@import "../helpers/all";

.form {
  $self: &;

  &__section {
    position: relative;
    border-radius: 1rem;
    padding: 2rem 1rem;

    &_p-mob-sm {
      padding: 1.5rem 1rem;
    }

    &, &_p-mob-sm {
      @include sm {
        padding: 2rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2.375rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $light-2 transparent transparent transparent;
        opacity: .5;
        top: calc(100% + 2.375rem / 2);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.3333;
    @include xxl {
      font-size: 2rem;
      line-height: 1.25;
    }

    &:not(:last-child) {
      margin-bottom: .4rem;
      @include md {
        margin-bottom: .6rem;
      }
      @include xxl {
        margin-bottom: .9rem;
      }
    }
  }

  &__description {
    @include md {
      padding: 0 1.5rem;
    }
    @include xl {
      padding: 0 3.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }


  &_light {
    #{$self}__section {
      background-color: $white;
      color: $dark-3;
    }

    #{$self}__description {
      color: $middle-3;
    }
  }

  input[type=submit] {
    margin: 0 auto;
  }
}

input[type=text],
input[type=tel],
input[type=email],
textarea,
{
  font-size: 1.125rem;
  line-height: 1.5;
  border-bottom: 1px solid $dark-4;
  width: 100%;
  color: $dark-3;
  @include placeholder-color($middle-1);
  transition: border-color .3s ease;

  &:hover {
    border-color: $middle-1;
  }

  &:focus {
    border-color: $green-1;
  }

  &.is-invalid {
    &, &:hover, &:focus {
      border-color: red;
    }
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
}

.checkbox {
  position: relative;

  input[type=checkbox] {
    top: calc(1.5rem / 2);
    left: calc(1.5rem / 2);
  }
}

input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);

  & + label {
    position: relative;
    text-align: left;
    padding-left: 2.25rem;
    display: block;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid $green-1;
      border-radius: 1px;
      transition: background-color .3s ease, background-image .3s ease, border-color .3s ease;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:checked {
    & + label {
      &:before {
        background-color: $green-1;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99994 7.33403L2.01848 4.59913L0 6.86758L5.12402 11.5L14 2.64488L11.8501 0.5L4.99994 7.33403Z' /%3E%3C/svg%3E%0A");
      }
    }
  }

  &.is-invalid {
    border-color: red;

    & + label {
      &:before {
        border-color: red;
      }
    }
  }
}
